<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, &#xA;Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <unity>
    <containers>
      <container name="KOSUSContainer">
        <types>
          <type type="Electo.BusinessLayer.Interfaces.IAuthentication,Electo.BusinessLayer" mapTo="Electo.BusinessLayer.Implementation.Authentication,Electo.BusinessLayer" />
          <type type="Electo.BusinessLayer.Interfaces.INomination,Electo.BusinessLayer" mapTo="Electo.BusinessLayer.Implementation.Nomination,Electo.BusinessLayer" />
          <type type="Electo.BusinessLayer.Interfaces.IAdminBusiness,Electo.BusinessLayer" mapTo="Electo.BusinessLayer.Implementation.AdminBusiness,Electo.BusinessLayer" />
          <type type="Electo.DataLayer.Interfaces.IAuthentication,Electo.DataLayer" mapTo="Electo.DataLayer.Implementation.Authentication,Electo.DataLayer" />
          <type type="Electo.DataLayer.Interfaces.INomination,Electo.DataLayer" mapTo="Electo.DataLayer.Implementation.Nomination,Electo.DataLayer" />
          <type type="Electo.DataLayer.Interfaces.IAdmin,Electo.DataLayer" mapTo="Electo.DataLayer.Implementation.Admin,Electo.DataLayer" />
        </types>
      </container>
    </containers>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="votinglivedbEntities" connectionString="metadata=res://*/Dropdown.csdl|res://*/Dropdown.ssdl|res://*/Dropdown.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin@123;persistsecurityinfo=True;database=votinglivedb&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-VoatingSystem-20150610211427;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-VoatingSystem-20150610211427.mdf" />
    <add name="dbConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;database=votinglivedb;port=3306;password=admin@123" />
    <add name="DashboardEntities" connectionString="metadata=res://*/Dashboard.csdl|res://*/Dashboard.ssdl|res://*/Dashboard.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin@123;persistsecurityinfo=True;database=votinglivedb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>